<section class="song-list">
    <article class="song">
        <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" 
        alt="Artist -Song tittle" class="cover">
        <div class="artist">
            Artist name
        </div>
        <div class="tittle">
            Song tittle -Romeo and Juliet
        </div>
    </article>

    <article class="song">
        <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" 
        alt="Artist -Song tittle" class="cover">
        <div class="artist">
            Artist name
        </div>
        <div class="tittle">
            Song tittle -Romeo and Juliet
        </div>
    </article>

    <article class="song">
        <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" 
        alt="Artist -Song tittle" class="cover">
        <div class="artist">
            Artist name
        </div>
        <div class="tittle">
            Song tittle -Romeo and Juliet
        </div>
    </article>

    <article class="song">
        <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" 
        alt="Artist -Song tittle" class="cover">
        <div class="artist">
            Artist name
        </div>
        <div class="tittle">
            Song tittle -Romeo and Juliet
        </div>
    </article>

    <article class="song">
        <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" 
        alt="Artist -Song tittle" class="cover">
        <div class="artist">
            Artist name
        </div>
        <div class="tittle">
            Song tittle -Romeo and Juliet
        </div>
    </article>

    <article class="song">
        <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" 
        alt="Artist -Song tittle" class="cover">
        <div class="artist">
            Artist name
        </div>
        <div class="tittle">
            Song tittle -Romeo and Juliet
        </div>
    </article>

    <article class="song">
        <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" 
        alt="Artist -Song tittle" class="cover">
        <div class="artist">
            Artist name
        </div>
        <div class="tittle">
            Song tittle -Romeo and Juliet
        </div>
    </article>

    <article class="song">
        <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" 
        alt="Artist -Song tittle" class="cover">
        <div class="artist">
            Artist name
        </div>
        <div class="tittle">
            Song tittle -Romeo and Juliet
        </div>
    </article>

    <article class="song">
        <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" 
        alt="Artist -Song tittle" class="cover">
        <div class="artist">
            Artist name
        </div>
        <div class="tittle">
            Song tittle -Romeo and Juliet
        </div>
    </article>

    <article class="song">
        <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" 
        alt="Artist -Song tittle" class="cover">
        <div class="artist">
            Artist name
        </div>
        <div class="tittle">
            Song tittle -Romeo and Juliet
        </div>
    </article>
</section>