body{
    background: $color-penny;
    font-family: $main-font-family;
    font-size: $font-size-base;
    color:$main-text-color;

    @include if-mobile-landscape{
        background: black;
    }

     @include if-tablet-landscape{
        background: white;
    }

     @include if-tablet-portrait{
        background: red;
    }


}