//Se definen bloques de variables

//Font families
$main-font-family: 'Lato', sans-serif;
$tittle-font-family: 'Bitter', serif;
$body-font-family : $main-font-family;

//Font sizes
$font-size-base: 15px;
$font-size-small: $font-size-base - 5px;
$font-size-large: $font-size-base + 5px;
$font-size-h1: $font-size-base + 15px;
$font-size-h2: $font-size-base + 12px;
$font-size-h3: $font-size-base + 9px;
$font-size-h4: $font-size-base + 6px;
$font-size-h5: $font-size-base + 3px;
$font-size-h5: $font-size-base;

//Base colors
$color-e54861: #E54861;
$color-martha: #F2A379;
$color-iam_afternoons:#26252C;
$color-penny: #EFD5B7;
$color-innocent: #EEE6E2;

//Main components colors
$main-text-color: $color-iam_afternoons;
$links-color: $color-e54861;


//Responsive
$mobile-portrait-width :375px;
$mobile-landscape-width: 767px;
$tablet-portrait-width: $mobile-landscape-width + 1;
$tablet-landscape-width: 1024px;

//portrait = vertical --- landscape = horizontal

